name: Build & Release

on:
  workflow_dispatch:
     


permissions:
  contents: write
  actions: write # require to delete cache

jobs:
  
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2
  
    - name: Navigate to Workspace
      run: cd $GITHUB_WORKSPACE

    - name: Create Build Directory
      run: mkdir ${{github.workspace}}/build
      
    - name: Restore Packages
      run: nuget restore BatterylessPatcher.sln

    - name: Build Solution
      run: |
        msbuild.exe BatterylessPatcher.sln /nologo /nr:false /p:DeployOnBuild=true /p:DeployDefaultTarget=WebPublish /p:WebPublishMethod=FileSystem /p:DeleteExistingFiles=True /p:platform="Any CPU" /p:configuration="Release" /p:DebugSymbols=false /p:DebugType=None /p:PublishUrl="${{github.workspace}}/build"
        

    - name: Publish in build directory
      run: |
        dotnet publish -c Release -r win-x64 --output ${{github.workspace}}/build -p:PublishReadyToRun=true -p:PublishSingleFile=true --self-contained true -p:IncludeNativeLibrariesForSelfExtract=true  BatterylessPatcher.sln
        dir ${{github.workspace}}/build


    - name: Zip build
      run: |
          cd ${{github.workspace}}/build
          7z a pkmn-gba-batteryless.zip *

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: BatterylessPatcher
        path: ${{github.workspace}}/build/pkmn-gba-batteryless.zip
        
    
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.WORKFLOW_TOKEN }}
      - uses: actions/download-artifact@v4
        with:
          path: release
          merge-multiple: true
      - name: Shorthand tags
        id: tag
        run: |
          git config --global user.email "27856297+dependabot-preview[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          TAG=pkmn-gba-batteryless-$(date '+%Y%m%d_%H%M')
          git tag $TAG -m "Published version $TAG"
          git push -f origin $TAG
          echo "tag=$TAG" >> $GITHUB_OUTPUT



      - uses: softprops/action-gh-release@v2
        name: Do release
        with:
          files: release/*
          tag_name: ${{ steps.tag.outputs.tag }}
